.bonuspointslist-container {
  padding-top: 80px;
  display: flex;
  min-height: 100vh;
}

.sidebar-container {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}


.bonus-points {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.bonus-points h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #000;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}





.user-profile {
  margin-top: 38.2px;
  display: flex;
  align-items: center;
  margin-bottom: 38.2px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.gmail {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  margin: 24.8px 0;
}

.sidebar ul li .icon {
  margin-right: 10px;
  color: #333;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  flex-grow: 1;
}

.space {
  margin-left: 35px;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.submenu {
  list-style-type: none;
  padding-left: 20px;
  display: none;
}

.parent-menu:hover .submenu {
  display: block;
}