.custom-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.custom-sidebar p {
  color: #333;
}

.custom-user-profile {
  margin-top: 38.2px;
  /* 使用黃金比例的間距 */
  display: flex;
  align-items: center;
  margin-bottom: 38.2px;
  /* 使用黃金比例的間距 */
}

.custom-user-avatar {
  width: 100px;
  /* 調整頭像大小 */
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.custom-gmail {
  font-size: 16px;
  /* 調整 Gmail 字體大小 */
  white-space: nowrap;
  /* 禁止換行 */
  overflow: hidden;
  /* 隱藏溢出的內容 */
  text-overflow: ellipsis;
  /* 顯示省略號 */
  max-width: 150px;
  /* 根據需要調整最大寬度 */
}

.custom-sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.custom-sidebar-item {
  display: flex;
  align-items: center;
  margin: 24.8px 0;
  /* 使用黃金比例的間距 */
}

.custom-icon {
  margin-right: 10px;
  color: #333;
}

.custom-sidebar-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  flex-grow: 1;
  /* 使連結文本填滿剩餘空間 */
}

.custom-sidebar-item a:hover {
  color: #007bff;
}

.custom-space {
  margin-left: 35px;
  /* 使用黃金比例的縮進 */
}

.custom-submenu {
  list-style-type: none;
  padding-left: 20px;
  /* 增加縮進 */
  display: none;
  /* 默認隱藏 */
}

.custom-parent-menu:hover .custom-submenu {
  display: block;
  /* 懸停時顯示 */
}